".source.ebnf":
	Rule:
		prefix: "rule"
		body: "${1:term} = ${2:definition};"
	
	# Commonly-used rules
	Blanks:
		prefix: "blanks"
		body: 'blanks = " " | "\\\\t" ;'
	
	Whitespace:
		prefix: "whitespace"
		body: 'whitespace = " " | "\\\\t" | "\\\\n" | "\\\\r" | "\\\\f" | "\\\\v" ;'
	
	Letters:
		prefix: "letter"
		body: """(?x)
			letter =
				"A" | "B" | "C" | "D" | "E" | "F" | "G" | "H" | "I" |
				"J" | "K" | "L" | "M" | "N" | "O" | "P" | "Q" | "R" |
				"S" | "T" | "U" | "V" | "W" | "X" | "Y" | "Z" |
				"a" | "b" | "c" | "d" | "e" | "f" | "g" | "h" | "i" |
				"j" | "k" | "l" | "m" | "n" | "o" | "p" | "q" | "r" |
				"s" | "t" | "u" | "v" | "w" | "x" | "y" | "z" ;
			"""
	
	"Letters, uppercase":
		prefix: "uppercase"
		body: """(?x)
			uppercase letter =
				"A" | "B" | "C" | "D" | "E" | "F" | "G" | "H" | "I" |
				"J" | "K" | "L" | "M" | "N" | "O" | "P" | "Q" | "R" |
				"S" | "T" | "U" | "V" | "W" | "X" | "Y" | "Z" ;
			"""
	
	"Letters, lowercase":
		prefix: "lowercase"
		body: """(?x)
			lowercase letter =
				"a" | "b" | "c" | "d" | "e" | "f" | "g" | "h" | "i" |
				"j" | "k" | "l" | "m" | "n" | "o" | "p" | "q" | "r" |
				"s" | "t" | "u" | "v" | "w" | "x" | "y" | "z" ;
		"""
	
	Digit:
		prefix: "digit"
		body: 'digit = "0" | "1" | "2" | "3" | "4" | "5" | "6" | "7" | "8" | "9";'
	
	Hexadecimal:
		prefix: "hex"
		body: """(?x)
			hexadecimal =
				"0" | "1" | "2" | "3" | "4" | "5" | "6" | "7" | "8" | "9" |
				"A" | "B" | "C" | "D" | "E" | "F" |
				"a" | "b" | "c" | "d" | "e" | "f" ;
			"""
	
	Symbol:
		prefix: "symbol"
		body: """(?x)
			symbol =
				"|" | " " | "!" | "#" | "$" | "%" | "&" | "(" | ")" | "*" |
				"+" | "," | "-" | "." | "/" | ":" | ";" | ">" | "=" | "<" |
				"?" | "@" | "[" | "\\\\" | "]" | "^" | "_" | "`" | "{" | "}" | "~" ;
			"""
