# Include CSON files in GitHub's language breakdown graph
*.cson  linguist-detectable=true

# Exclude test fixtures from distribution and language analysis
tests/* export-ignore linguist-documentation=true
