# Source: https://www.cs.princeton.edu/~appel/modern/java/JLex/current/manual.html
name: "JLex"
scopeName: "source.jlex"
fileTypes: ["jlex"]
patterns: [include: "#main"]

repository:
	main:
		patterns: [
			{include: "#comments"}
			{include: "#user-code"}
			{include: "#directives"}
			{include: "#rules"}
		]
	
	
	comments:
		patterns: [{
			# Line comment
			name:  "comment.line.double-slash.jlex"
			begin: "//"
			end:   "$"
			beginCaptures:
				0: name: "punctuation.definition.comment.jlex"
		},{
			# Block comment
			name: "comment.block.jlex"
			begin: "/\\*"
			end:   "\\*/"
			beginCaptures: 0: name: "punctuation.definition.begin.comment.jlex"
			endCaptures:   0: name: "punctuation.definition.end.comment.jlex"
		}]
	
	
	directives:
		name:  "name.directives.jlex"
		begin: "^\\s*(%%)\\s*$\\s*"
		end:   "^\\s*(%%)\\s*$\\s*"
		beginCaptures: 1: name: "keyword.control.section.begin.jlex"
		endCaptures:   1: name: "keyword.control.section.end.jlex"
		patterns: [
			{include: "#passthrough"}
			{include: "#directive"}
			{include: "#comments"}
			{include: "#macro"}
		]
	
	
	directive:
		patterns: [{
			# %class name
			match: "((%)(?:class|extends|implements|extends|cupsym))\\s+(\\S.*)"
			captures:
				1: name: "keyword.control.directive.jlex"
				2: name: "punctuation.definition.directive.jlex"
				3: name: "storage.type.class.var.jlex"
		},{
			# %include foo.bar
			match: "((%)include)\\s*(\\S.*)(?=$|//)"
			captures:
				1: name: "keyword.control.directive.jlex"
				2: name: "punctuation.definition.directive.jlex"
				3: patterns: [{
					match: "[^\\s.]+"
					name: "storage.modifier.import.java"
				},{
					match: "\\."
					name: "punctuation.separator.java"
				}]
		},{
			# %state state[0][, state[1], state[2], …]
			name:  "meta.state-declarations.jlex"
			begin: "(%)state(?=\\s)(?!$)"
			end:   "(?=$|/\\*)"
			beginCaptures:
				0: name: "keyword.control.directive.jlex"
				1: name: "punctuation.definition.directive.jlex"
			patterns: [{
				name:  "variable.other.definition.jlex"
				match: "[A-Za-z_][A-Za-z_0-9]*"
			},{
				name:  "punctuation.delimiter.comma.jlex"
				match: ","
			}]
		},{
			# Code blocks of the form `%foo{ ... %foo}'
			name:  "meta.code-block.directive.$3.jlex"
			begin: "^\\s*((%)(initthrow|init|eofthrow|eofval|eof))({)"
			end:   "^\\s*((%)\\3)(})"
			beginCaptures:
				1: name: "keyword.control.directive.jlex"
				2: name: "punctuation.definition.directive.jlex"
				4: name: "punctuation.definition.curly.bracket.begin.jlex"
			endCaptures:
				1: name: "keyword.control.directive.jlex"
				2: name: "punctuation.definition.directive.jlex"
				3: name: "punctuation.definition.curly.bracket.end.jlex"
			patterns: [include: "source.java"]
		},{
			# Everything else
			begin: "^\\s*((%)\\w+)(\\s+\\S.*)?"
			end:   "(?=$)"
			beginCaptures:
				1: name: "keyword.control.directive.jlex"
				2: name: "punctuation.definition.directive.jlex"
				3: patterns: [
					{include: "#comments"}
					{match: "\\S+", name: "constant.language.other.lex"}
				]
		}]
	
	macro:
		match: "^\\s*([^\\s=]+)\\s*(=)(\\s*\\S.*)$"
		captures:
			1: name: "entity.macro.name.jlex"
			2: name: "keyword.operator.assignment.jlex"
			3: name: "meta.macro.definition.jlex", patterns: [{
				include: "source.lex.regexp"
			}]
	
	passthrough:
		name:  "meta.code-chunk.jlex"
		begin: "^\\s*%{"
		end:   "^\\s*%}"
		beginCaptures: 0: name: "punctuation.section.embedded.begin.jlex"
		endCaptures:   0: name: "punctuation.section.embedded.end.jlex"
		patterns: [include: "source.java"]


	rules:
		patterns: [{
			name:  "meta.rule.jlex"
			begin: '^\\s*("[^"]+")\\s+({)'
			end:   "}"
			beginCaptures:
				1: patterns: [include: "source.lex.regexp#string"]
				2: name: "punctuation.definition.curly.bracket.begin.jlex"
			endCaptures:
				0: name: "punctuation.definition.curly.bracket.begin.jlex"
			patterns: [include: "source.java"]
		},{
			name:  "meta.rule.jlex"
			begin: "^([^{]*[^\\s{][^{]*)({\\w+}\\s*)?({)"
			end:   "}"
			beginCaptures:
				1: patterns: [include: "source.lex.regexp"]
				2: patterns: [include: "source.lex.regexp"]
				3: name: "punctuation.definition.curly.bracket.begin.jlex"
			endCaptures:
				0: name: "punctuation.definition.curly.bracket.begin.jlex"
			patterns: [include: "source.java"]
		}]
	
	
	"user-code":
		patterns: [{
			name:  "meta.user-code.jlex"
			begin: "\\G"
			end:   "^(?=\\s*%%)"
			patterns: [include: "source.java"]
		}]
