# Source: https://www.cs.princeton.edu/~appel/modern/java/JLex/current/manual.html
name: "JLex"
scopeName: "source.jlex"
fileTypes: ["jlex"]
patterns: [include: "#main"]

repository:
	main:
		patterns: [
			{include: "#user-code"}
			{include: "#directives"}
			{include: "#rules"}
		]
	
	
	directives:
		name:  "name.directives.jlex"
		begin: "^\\s*(%%)\\s*$\\s*"
		end:   "^\\s*(%%)\\s*$\\s*"
		beginCaptures: 1: name: "keyword.control.section.begin.jlex"
		endCaptures:   1: name: "keyword.control.section.end.jlex"
		patterns: [
			{include: "#passthrough"}
			{include: "#directive"}
			{include: "#macro"}
		]
	
	
	directive:
		patterns: [{
			# %class name
			match: "((%)class)\\s+(\\S.*)"
			captures:
				1: name: "keyword.control.directive.jlex"
				2: name: "punctuation.definition.directive.jlex"
				3: name: "storage.type.class.var.jlex"
		},{
			# %state state[0][, state[1], state[2], …]
			name:  "meta.state-declarations.jlex"
			begin: "(%)state(?=\\s)(?!$)"
			end:   "(?=$|/\\*)"
			beginCaptures:
				0: name: "keyword.control.directive.jlex"
				1: name: "punctuation.definition.directive.jlex"
			patterns: [{
				name:  "variable.other.definition.jlex"
				match: "[A-Za-z_][A-Za-z_0-9]*"
			},{
				name:  "punctuation.delimiter.comma.jlex"
				match: ","
			}]
		},{
			# Code blocks of the form `%foo{ ... %foo}'
			name:  "meta.code-block.directive.$3.jlex"
			begin: "^\\s*((%)(initthrow|init|eofthrow|eof))({)"
			end:   "^\\s*((%)\\3)(})"
			beginCaptures:
				1: name: "keyword.control.directive.jlex"
				2: name: "punctuation.definition.directive.jlex"
				4: name: "punctuation.definition.curly.bracket.begin.jlex"
			endCaptures:
				1: name: "keyword.control.directive.jlex"
				2: name: "punctuation.definition.directive.jlex"
				3: name: "punctuation.definition.curly.bracket.end.jlex"
			patterns: [include: "source.java"]
		},{
			# Everything else
			name:  "keyword.control.directive.jlex"
			match: """(?x) (%)
				(?:char|class|cup|eofthrow|eofval|eof|full|function
				|ignorecase|implements|initthrow|init|integer|intwrap
				|line|notunix|public|state|type|unicode|yyeof|yylexthrow)
			"""
			captures:
				1: name: "punctuation.definition.directive.jlex"
		}]
	
	macro:
		match: "^\\s*(\\S+)\\s*(=)\\s*(\\S.*)$"
		captures:
			1: name: "entity.macro.name.jlex"
			2: name: "keyword.operator.assignment.jlex"
			3: name: "meta.macro.definition.jlex", patterns: [{
				include: "source.lex.regexp"
			}]
	
	passthrough:
		name:  "meta.code-chunk.jlex"
		begin: "^\\s*%{"
		end:   "^\\s*%}"
		beginCaptures: 0: name: "punctuation.section.embedded.begin.jlex"
		endCaptures:   0: name: "punctuation.section.embedded.end.jlex"
		patterns: [include: "source.java"]


	rules:
		patterns: [] # TODO
	
	
	"user-code":
		patterns: [{
			name:  "meta.user-code.jlex"
			begin: "\\G"
			end:   "^(?=\\s*%%)"
			patterns: [include: "source.java"]
		}]
