".source.abnf":
	editor:
		commentStart: "; "

".source.bnf":
	editor:
		commentStart: "; "

".source.ebnf":
	editor:
		commentStart: "(*"
		commentEnd:   "*)"
		increaseIndentPattern: "=\\s*$"

".source.lark":
	editor:
		commentStart: "// "

".source.lbnf":
	editor:
		commentStart: "{-"
		commentEnd:   "-}"

".source.lex":
	editor:
		commentStart: "/*"
		commentEnd:   "*/"
		increaseIndentPattern: "{\\s*$"

".source.pegjs":
	editor:
		commentStart: "/*"
		commentEnd:   "*/"
		increaseIndentPattern: "{\\s*$|^(?!\\d)[$\\w]+(?>\\s+(?:\"[^\"]*+\"|'[^']*+'))?\\s*+$"
		decreaseIndentPattern: "^\\s*}"
