".source.abnf":
	editor:
		commentStart: "; "

".source.bnf":
	editor:
		commentStart: "; "

".source.ebnf":
	editor:
		commentStart: "(*"
		commentEnd:   "*)"
		increaseIndentPattern: "=\\s*$"

".source.lex":
	editor:
		commentStart: "/*"
		commentEnd:   "*/"
		increaseIndentPattern: "{\\s*$"
